@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(/images/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

:root {
    --bg-color: #ED8F45;
    --secondary-color: #FBF0F4;
    --text-color:#FBF0F4;
    --hover-button: #24da00;
}

header {
    display: flex;
    background-color: var(--bg-color);
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.logo-img{
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.logo-img img {
    width: 70px;
}

.titulo-header {
    margin-left: 10px;
}

.nav-bar {
    margin-left: 800px;
    flex-direction: row;
    display: flex;
    gap: 8rem;
    font-weight: bold;
}

li a {
    cursor: pointer;
    transition: .3s ease-in-out;
    color: #FBF0F4;
}

li a:hover {
    color:black;
    transition: .3s ease-in-out;
}

/* Home Page */

section{
    padding: 70px 17% 60px;
}

.home{
    background-image: url("../images/Img-Home.png");
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h1{
    color:var(--bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 6.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text h2{
    color:#FBF0F4;
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 550;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text h2 span{
    color:var(--bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 550;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text p{
    font-family: 'Poppins', sans-serif;
    color: #FBF0F4;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.btn{
    font-family:'Poppins', sans-serif;
    display: inline-block;
    padding: 13px 40px;
    background:var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color:#FBF0F4;
    transition: all .50s ease;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover{
    transform: translateX(5px);
    border: 2px solid;
    border-color:var(--bg-color);
    background-color: transparent;
    color:var(--bg-color);
    border-radius: 4px;
}

/* Menu Page */

/* Menu container */

.cardapio-container{
    background-image: url("../images/Img-Menu.png");
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cardapio-container .cardapio-text h1{
    color:var(--bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 25px;
}

.cardapio-container .cardapio-text h2{
    color:var(--secondary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}

.cardapio-container .cardapio-text span{
    color:var(--bg-color);

}

.cardapio-container .cardapio-text p{
    color:#FBF0F4;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 150;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-bottom: 25px;
}


/*Pizza-container*/

.pizza-division-line{
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    width: 290px;
    height: 2.8px;    
    border-radius: 2px;
    background-color: var(--bg-color);
    margin-top: 50px;   
    align-items: center;
   }

.pizza-container h5{
    text-align: center;
    color:var(--bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 25px;
   }

.pizza-container h1{
    color:#3f3f3f;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 150;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.pizza-container{
    height: 130vh;
    width: 100%;
    background-color: var(--secondary-color);
    
}
.card-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 2rem;
    justify-content: center;
}

.menu-card{
    font-family: 'Poppins', sans-serif;
    width: 325px;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.menu-card img{
    width: 100%;
    height: 200px;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    color: var(--bg-color);
    font-size: 28px;
    margin-bottom: 8px;

}

.card-content p{
    color: rgba(0, 0, 0, 0.637);
    font-size: 16px;
    line-height: 1.3;
}

.card-content .btn{
    margin-top: 15px;
    font-family:'Poppins', sans-serif;
    display: inline-block;
    padding: 5px 14px;
    background:var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color:#FBF0F4;
    transition: all .50s ease;
    cursor: pointer;
    border-radius: 4px;
}

section h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    }

section h5 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
}

.card-container2{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 45px;
    gap: 2rem;
    justify-content: center;
}

/*Bebida Container*/

.division-line{
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    width: 290px;
    height: 2.8px;    
    border-radius: 2px;
    background-color: var(--bg-color);
    margin-top: 50px;   
    align-items: center;
   }

.bebidas-container h5{
    text-align: center;
    color:var(--bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 25px;
   }

.bebidas-container h1{
    color:#FBF0F4;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 150;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.card-content span{
    color: var(--bg-color);
    font-weight: 600;
}






/*contato*/

.contato {
    text-align: center;
    margin: 50px 500px;
    background-color: var(--secondary-color);
    height: 1230px;
    border-radius: 30px;
}

.contato-img {
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 30px 30px 0 0;
}

.contato-img img {
    width: 200px;
}

.nome-pizzaria {
    margin-top: 30px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.endereco-pizarria {
    font-family: 'Poppins', sans-serif;
    font-weight: 1rem;
}

.background-info {
    background-color: var(--bg-color);
}

.campos-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    height: 290px;
}

.campos-info input {
    height: 45px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
} 

.button-enviar {
    margin: 40px;
}

.button-enviar button {
    outline: none;
    width: 140px;
    height: 50px;
    font-weight: bold;
    background-color: var(--bg-color);
    border: none;
    border-radius: 10px;
    color: var(--text-color);
}

.button-enviar button a {
    color: white;
    padding: 50px;
}

.button-enviar button:hover {
    background-color: #db7c00;
    border: 1px solid var(--text-color);
}



.caixinha {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 30px 5px 0;
}

footer {
    height: 200px;
    background-color: var(--bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
}

/*Responsividade*/	

/* Estilos para telas com largura mínima de 700px e máxima de 1024px */

@media (min-width: 700px) and (max-width: 1024px){
    
    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 300px;
    }

    .logo-img{
        border-radius: 50%;
        width: 60px;
        
    }  


/* Menu de navegação */
    .nav-bar{
        margin-top: 15px;
        margin-bottom: 17px;
        margin-left: 0;
        flex-direction: column;
        gap: 3rem;
    }

    .home-text{
        width: 100%;
        margin: 0 auto;
    }

    .home-text{
        margin-left: 10px;
    }
    
    .home-text h1{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .home-text h2{
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .home-text h2 span{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .home-text p{
        font-size: 1rem;
    }

    .btn{
        padding: 12px 35px;
    }

    .contato{
        margin: 30px 50px;
    }

    .campos-info{
        width: 90%;
    }

    .card-container, .card-container2{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    }

    footer{
        width: 100%;
    }

/* Estilos para telas com largura máxima de 700px*/

@media (max-width: 700px){

    header{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 310px;
    }

    .logo-img{
        border-radius: 50%;
        width: 50px;
        
    }  


/* Menu de navegação */
    .nav-bar{
        margin-top: 30px;
        margin-bottom: 17px;
        margin-left: 0;
        flex-direction: column;
        gap: 2rem;
    }



}