@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(/images/fundo-cinza.png);
    background-repeat: no-repeat;
    background-position: top center;
}

:root {
    --bg-color: #ED8F45;
    --secondary-color: #FBF0F4;
    --text-color: rgb(0, 0, 0);
}

header {
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.logo-img{
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.logo-img img {
    width: 70px;
}

.titulo-header {
    margin-left: 10px;
}

.nav-bar {
    margin-left: 800px;
    flex-direction: row;
    display: flex;
    gap: 8rem;
    font-weight: bold;
}

li a {
    cursor: pointer;
    transition: .3s ease-in-out;
    color: var(--text-color);
}

li a:hover {
    color: var(--bg-color);
    transition: .3s ease-in-out;
}
