@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(/images/home-background.png);
    background-repeat: no-repeat;
    background-position: top center;
}

:root {
    --bg-color: #ED8F45;
    --secondary-color: #FBF0F4;
    --text-color: rgb(0, 0, 0);
}

header {
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.logo-img{
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.logo-img img {
    width: 70px;
}

.titulo-header {
    margin-left: 10px;
}

.nav-bar {
    margin-left: 800px;
    flex-direction: row;
    display: flex;
    gap: 8rem;
    font-weight: bold;
}

li a {
    cursor: pointer;
    transition: .3s ease-in-out;
    color: var(--text-color);
}

li a:hover {
    color: var(--bg-color);
    transition: .3s ease-in-out;
}

/* Home Page */

section{
    padding: 70px 17% 60px;
}

.home{
    background-image: url("../images/Img-Home.png");
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h1{
    color:#ED8F45;
    font-family: 'Poppins', sans-serif;
    font-size: 6.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text h2{
    color:#FBF0F4;
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 550;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text h2 span{
    color:#ED8F45;
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 550;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text p{
    font-family: 'Poppins', sans-serif;
    color: #FBF0F4;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 30px;
}



































































































/*contato*/

.contato {
    text-align: center;
    margin: 50px 500px;
    background-color: var(--secondary-color);
}

.contato-img {
    width: 100%;
    background-color: var(--bg-color);
}

.contato-img img {
    width: 400px;
}

.nome-pizzaria {
    margin-top: 30px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.endereco-pizarria {
    font-family: 'Poppins', sans-serif;
    font-weight: 1rem;
}

.background-info {
    background-color: var(--bg-color);
}

.campos-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}

.campos-info input {
    margin-top: 30px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
}